#snapshot:hover{
    background-color: red;
    font-size: 25px;
}
@keyframes colorchange {
    from{box-shadow: 10px 10px 40px red;}
    to{box-shadow: 10px 10px 40px blue;}
}
canvas{
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}